<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <!-- Link to Bootstrap CSS file -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
  <a href='/logout'>Exit</a>
  <div class="container">
    <h1>User List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>user id</th>
          <th>target sex</th>
          <th>Do friends</th>
          <th>Do likes</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.target_sex }}</td>
            <td>{{ user.do_friends }}</td>
            <td>{{ user.do_likes }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Link to Bootstrap JS file -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

