<div>
    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
    <script type="text/javascript">
      if ('VKIDSDK' in window) {
        const VKID = window.VKIDSDK;
  
        VKID.Config.init({
          app: 52638255,
          redirectUrl: 'https://lmf.prvms.ru/callback',
          responseMode: VKID.ConfigResponseMode.Callback,
          source: VKID.ConfigSource.LOWCODE,
        });
  
        const oneTap = new VKID.OneTap();
  
        oneTap.render({
          container: document.currentScript.parentElement,
          showAlternativeLogin: true
        })
        .on(VKID.WidgetEvents.ERROR, vkidOnError)
        .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
          const code = payload.code;
          const deviceId = payload.device_id;
  
          VKID.Auth.exchangeCode(code, deviceId)
            .then(vkidOnSuccess)
            .catch(vkidOnError);
        });
      
        function vkidOnSuccess(data) {
          // Обработка полученного результата
            console.log(data)
            fetch("https://lmf.prvms.ru/do_auth", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            });
            }
      
        function vkidOnError(error) {
          // Обработка ошибки
        }
      }
    </script>
  </div>
  